{{: for page ProductsPage }}
{{: import "github.com/fd/w/html" }}

{{#render "layout", title=long_title }}

<div class="content">
  <ul>

    {{#each p := range page.Products }}
      <li>
        {{#if i, ok := p.Images[0]; ok }}
          <a href={{ p.Path() }}>
            <img alt={{ p.name }} src={{ i.Thumbnail.Path() }} />
            <span>{{ p.name }}</span>
          </a>
        {{else}}
          <a href={{ p.Path() }}>
            <img alt={{ p.name }} src="/missing.png" />
            <span>{{ p.name }}</span>
          </a>
        {{/if}}
      </li>
    {{/each}}

  </ul>

  <h2>{{ page.Title }}</h2>
  {{{ page.Body }}}

</div>

<aside>
  {{ page.SidebarItems.collect(renderedSidebarItem) }}
</aside>

{{/render}}
