  <footer>

  <div data-role="row" class="row keypoints">

    <div class="wrapper keypoints">
      <div data-role="column" class="quality">
        <h4>Service</h4>
        <p style="text-align: center;" align="center">We treat our clients as we would like to be treated ourselves.. a personable, knowledgeable team offering quality products, sensibly priced with fast and efficient service.</p>
      </div>
      <div data-role="column" class="experience">
        <h4>Experience</h4>
        <p style="text-align: center;" align="center">Founded in&nbsp;1996, Orakel launched the first company in Europe&nbsp;to&nbsp;offer&nbsp;&nbsp;a unique range of products.</p>
<p style="text-align: center;" align="center">By designing and manufacturing our products in-house,&nbsp;our team, well respected within the industry for their level of expertise&nbsp;is able to respond swiftly to&nbsp;the needs of our clients.&nbsp;</p>
      </div>
      <div data-role="column" class="supply">
        <h4>Innovation</h4>
        <p style="text-align: center;" align="center">We believe Orakel's succes lies in meeting the needs of our clients with an constantly evolving product range, every new situation which presents itself fuels fresh inspirational answers.<br /> <br /> You can follow our newest developments through our website and facebook.</p>
      </div>
      <div data-role="column" class="last sustainability">
        <h4>Sustainability</h4>
        <p style="text-align: center;" align="center">At Orakel we work to support the ethos of &nbsp;'People, Planet, Profit'. We balance the care of our clients, the welfare of our staff, working with respect for the earth's resources and reducing our carbon footprint whilst contributing to a&nbsp; flourishing economy.</p>
      </div>
    </div>

    <div class="wrapper partners">
      <ul>
        <li class="intro">our partners</li>
        <li class="fit"><a href="http://www.flandersinvestmentandtrade.com" target="_blank">Flanders Investment and Trade</a></li>
        <li class="besa"><a href="http://www.b-esa.be" target="_blank">BESA</a></li>
      </ul>
    </div>

  </div>

  <div data-role="row" class="row contact">

    <div class="wrapper">
      <div data-role="column" class="column one">
        <h4>Address</h4>
        <p>Veldenstraat 14bis<br />2470 Retie<br />Belgium</p>
      </div>
      <div data-role="column" class="column two">
        <p>t +32 (0) 14 38 80 80 <br />f +32 (0) 14 38 80 10 <br /><a href="mailto:orakel@orakel.com">orakel@orakel.com</a></p>
      </div>
      <div data-role="column" class="column three">

      </div>
      <div data-role="column" class="column four">
        <h4>At your service</h4>
        <p>You can find us in many European countries. Please click on your country.</p>
        <nav>

          <a href="http://be.orakel.com">Belgium</a>

          <a href="http://orakel.com">Europe</a>

          <a href="http://fr.orakel.com">France</a>

          <a href="http://de.orakel.com">Germany</a>

          <a href="http://gr.orakel.com">Greece</a>

          <a href="http://hu.orakel.com">Hungary</a>

          <a href="http://it.orakel.com">Italy</a>

          <a href="http://nl.orakel.com">Netherlands</a>

          <a href="http://no.orakel.com">Norway</a>

          <a href="http://pl.orakel.com">Poland</a>

          <a href="http://pt.orakel.com">Portugal</a>

          <a href="http://es.orakel.com">Spain</a>

          <a href="http://tr.orakel.com">Turkey</a>

          <a href="http://uk.orakel.com">United Kingdom</a>

        </nav>
      </div>
    </div>

  </div>

  <div data-role="row" class="row credits">

    <div class="wrapper">
      <div data-role="column" class="column left">
        copyright Orakel -

          <a href="/disclaimer">disclaimer</a> /
          <a href="/terms-and-conditions">terms and conditions</a> /
          <a href="/sitemap">sitemap</a>

      </div>
      <div data-role="column" class="column right">
        website by
        <a href="http://mrhenry.be" target="_blank">Mr. Henry</a>
      </div>
    </div>
  </div>

</footer>


<script src="/javascripts/javascript.js"></script>

<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
  <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36616061-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-123802-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
