<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,chrome=1" />

  <title>Wristbands, Lanyards, Tokens, Food and Drink Vouchers, Number bibs, Event Control/Consumables, Security Ticketing, Display Consumables, Promotions, Party Products, Commercial Play Products, Cups, Printed Badges - Orakel | Orakel</title>


  <meta name="viewport" content="width=device-width,initial-scale=.8" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />

  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/print.css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" media="screen, projection"><![endif]-->

  <script src="/javascripts/modernizr-2.0.6.min.js" charset="utf-8"></script>

  <script type="text/javascript" src="http://use.typekit.com/ghv2mbk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body data-active-nav-keys="locale-en page-1" class="default home home">

  {{render "header"}}
  <div id="wrapper">
    {{ yield }}
  </div>
  {{ render "footer" }}

</body>
</html>
